@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
@media only screen and (min-width: 768px) {
  .main-menu-top {
    height: 78px !important;
  }
}
@media only screen and (max-width: 768px) {
  .main-menu-top {
    top: inherit;
    left: inherit;
    right: inherit;
    position: inherit;
  }
  .main-menu-side {
    margin: inherit !important;
    box-shadow: inherit !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    width: inherit !important;
    top: inherit !important;
    left: inherit !important;
    bottom: inherit !important;
    position: inherit !important;
  }
  .main-menu-side li:first-child {
    border-top: 1px solid white;
  }
  article {
    margin-left: 0 !important;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 120%;
  line-height: 1.5;
}
.active a {
  background-color: #e25252 !important;
}
.navbar {
  margin-bottom: 0;
}
.container-fluid {
  background: #4e4e4e !important;
}
.main-menu-top {
  z-index: 1;
}
.main-menu-top ul {
  height: inherit;
}
.main-menu-top ul li {
  height: 100%;
}
.main-menu-top ul li:hover {
  background-color: #da6868 !important;
}
.main-menu-top ul a {
  color: #ffffff !important;
  font-size: 16px !important;
  display: inline-block;
  height: 100%;
}
.main-menu-side {
  background: #9a9a9a !important;
  margin: 0 1px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
  padding-top: 80px;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}
.main-menu-side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-menu-side ul li {
  border-bottom: 1px solid rgba(207, 216, 220, 0.56);
  margin: 0;
  padding: 0;
  line-height: 40px;
}
.main-menu-side ul li:hover {
  background-color: #e25252 !important;
  border-left: 1px solid #4e4e4e !important;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.main-menu-side ul span {
  padding-right: 5px;
}
.main-menu-side ul a {
  display: block;
  text-decoration: none;
  padding: 0 15px;
  color: #ffffff !important;
  font-size: 14px !important;
}
.main-menu-side ul a .arrow-down {
  float: right;
  padding-top: 13px;
  font-size: 13px;
}
.main-menu-side .sub-menu li {
  background-color: #808080;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #696868;
  margin-left: 0px;
}
.main-menu-side .sub-menu li:hover {
  background-color: #e25252 !important;
}
.main-menu-side .sub-menu li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid #ffffff;
  margin: 10px 5px 5px 5px;
}
article {
  margin-left: 221px;
  padding: 10px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}
footer div {
  background-color: #666666;
  height: 28px;
}
footer p {
  padding-right: 10px;
  text-align: right;
  font-size: 11px;
  color: #999;
  margin-bottom: 5px;
}
footer label {
  font-size: inherit;
  color: #c00000;
}
