// ******** FUNCTIONS ********************* //

.textConfig(@text-color: #ffffff, @text-size: 16px) {
  color: @text-color !important;
  font-size: @text-size !important;
}

// ***************************************** //

// ******** INDEX.HTML / MAIN.LESS ******** //

@menu_top_background_color: #4e4e4e;	//#bfbfbf (claro) / #4e4e4e (escuro)
@menu_side_background_color: #9a9a9a; 	//#5d5d5d (escuro) / #9a9a9a (claro)
@selected_btn_active_color: #da6868;

// ***************************************** //