.active a {
    background-color: @selected_btn_active_color;
}


.container-fluid {
    background: @menu_top_background_color;
}

.main-menu-top {
    z-index: 1;

    ul {

        height: inherit;

        li {
            height: 100%;

            &:hover {
                background-color: #da6868 !important;
            }
        }

        a {
            .textConfig;
            display: inline-block;
            height: 100%;
        }

    }
}

.main-menu-side {
    background: @menu_side_background_color;
    margin: 0 1px;
    box-shadow: 3px 0 6px rgba(0,0,0,0.24);
    padding-top: 80px;
    width: 240px;
    bottom: 0;
    top: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 1px solid rgba(207,216,220,0.56);
            margin: 0;
            padding: 0;
            line-height: 40px;

            &:hover {
                background-color: @selected_btn_active_color;
                border-left: 1px solid @menu_top_background_color;
                -webkit-transition: all 1s ease;
                -moz-transition: all 1s ease;
                -o-transition: all 1s ease;
                -ms-transition: all 1s ease;
                transition: all 1s ease;
            }
        }

        span {
            padding-right: 5px;
        }

        a {
            display: block;
            text-decoration: none;
            padding: 0 15px;

            .textConfig(#ffffff, 14px);

            .arrow-down{
                float: right;
                padding-top: 13px;
                font-size: 13px;
            }
        }

    }

    .sub-menu li {
        background-color: #808080;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #696868;
        margin-left: 0px;

        &:hover{
            background-color: @selected_btn_active_color;
        }

        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            border-top: 4px solid transparent;
            border-bottom: 4px solid transparent;
            border-left: 4px solid #ffffff;
            margin: 10px 5px 5px 5px;
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;

    div{
        background-color: #666666;
        height: 28px;
    }

    p {
        padding-right: 10px;
        text-align: right;
        font-size: 11px;
        color: #999;
        margin-bottom: 5px;
    }

    label {
        font-size: inherit;
        color: #c00000;
    }
}